/*This file is for our own custom classes*/

.pagecontent-container {
    display: flex;
    flex-direction: column;
    width: 85vw;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    border: pink 2px dotted;
    gap: 20px;
}

.button-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border: blue dotted 2px;
}